{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if object %}
                     <legend class="border-bottom mb-4">Update Route</legend>
                {% else %}
                     <legend class="border-bottom mb-4">Create New Route</legend>
                {% endif %}
                {{ form.media }}
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">{{ object|yesno:'Update, Create' }} Route</button>
            </div>
        </form>

    </div>
{% endblock content %}