{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

        <h3 class="border-bottom mb-4">Add Picture to Ride Report</h3>
        <div><strong>Route:</strong> {{ route_name }} </div>
        <div><strong>Ride date:</strong> {{ ride_date }} </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">

                {{ form|crispy }}
            </fieldset>

            <button class="btn btn-success" type="submit">Upload</button>
            <a class="btn btn-primary" href="{% url 'ride-report-update' ride_pk  %}">Cancel</a>
        </form>
    </div>
{% endblock content %}