{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if not 'create' %}
                    <legend class="border-bottom mb-4">Update Ride Report</legend>
                {% else %}
                    <legend class="border-bottom mb-4">Create New Ride Report</legend>
                {% endif %}
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info" type="submit" name="action"
                    value="{{ create|yesno:'create, update' }}">{{ object|yesno:'Create, Update' }}
            </button>
            <button class="btn btn-outline-info" type="submit" name="action"
                    value="{{ create|yesno:'create, update' }}_and_email">{{ object|yesno:'Create, Update' }} and
                email
            </button>
            {% if create %}
                <a class="btn btn-outline-info" href="{% url 'ride-detail' object.id  %}">Cancel</a>
            {% else %}
                <a class="btn btn-outline-info" href="{% url 'home' %}">Cancel</a>
            {% endif %}
        </form>
    </div>
{% endblock content %}