{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" xmlns="http://www.w3.org/1999/html">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Ride Report</legend>
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <!-- Display Pictures -->
            <div class="mt-3">
                {% for picture in ride.report_pictures.all %}
                    <figure class="figure">
                        <div  class="d-flex justify-content-between">
                            <div>
                                <img src="{{picture.picture.url}}" class="figure-img img-fluid rounded"
                                     alt="{{ picture.caption }}">
                            </div>
                            <div>
                                <a class="ml-1 mb-2 btn btn-outline-info"
                                   href="{% url 'update-picture-caption' picture.id  %}">Update caption</a>
                                <a class="ml-1 mb-2 btn btn-outline-danger"
                                href="{% url 'delete-picture' picture.id  %}">Delete picture</a>
                            </div>
                        </div>
                        <figcaption class="figure-caption">{{ picture.caption }}</figcaption>
                    </figure>
                {% endfor %}
            </div>
            <div class="mb-3">
                <a class="btn btn-outline-info" href="{% url 'add-picture' object.id  %}">Add picture</a>
            </div>
            <button class="btn btn-success" type="submit" name="action"
                    value="update">Update
            </button>
            <button class="btn btn-primary" type="submit" name="action"
                    value="update_and_email">Update and email
            </button>
            <a class="btn btn-primary" href="{% url 'ride-detail' object.id  %}">Cancel</a>
        </form>
    </div>
{% endblock content %}