{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">

                <div><h3>{{ ride.route.route_name }}</h3></div>
                {% if ride_report %}
                    <div>
                    <strong>Ride Report:</strong>
                    <div class="ml-4">{{ ride.ride_report_text|safe }}</div>
                </div>
                {% endif %}
                <div><strong>Distance:</strong> {{ ride.route.distance }} miles</div>
                <div><strong>Ride Date:</strong> {{ ride.ride_date|date:"F d, Y" }}</div>
                <div><strong>Start Time:</strong> {{ ride.start_time }}</div>

                <div><strong>Distance:</strong> {{ ride.route.distance }} miles</div>

                <div>
                    <strong>Leader Name:</strong>
                    <a href="{% url 'user-rides' ride.leader.username %}">
                        {{ ride.leader.first_name }} {{ ride.leader.last_name }}
                    </a>
                </div>
                <!-- Don't display email and phone after the ride has occurred -->
                {% if 'update_delete' in buttons %}
                    <div>
                        <strong>Leader Email:</strong> {{ ride.leader.email }}
                    </div>
                    <div>
                        <strong>Leader Phone:</strong> {{ ride.leader.profile.phone }}
                    </div>
                {% endif %}
                <div>
                    <strong>Route Details:</strong>
                    <div class="ml-4">{{ ride.route.description|safe }}</div>
                </div>
                <div>
                    <strong>Route Starting Location:</strong>
                    <div class="ml-4">{{ ride.route.start_location|safe }}</div>
                </div>
                <div><strong>Ride Details:</strong>
                    <div class="ml-4">{{ ride.additional_details|safe }}</div>
                </div>
                <div>
                    <strong>Signed up:</strong>
                    {% for rider in ride.participants.all %}
                        <div class="ml-4">
                            {{ rider.first_name }} {{ rider.last_name }}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </article>
    <div>
        {% if 'update_delete' in buttons %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'ride-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ride-delete' object.id %}">Delete</a>
        {% elif 'signup' in buttons %}
            <form method="post">
                {% csrf_token %}
                <p>Sign up to receive future email notices about this ride.</p>
                <button class="btn btn-outline-info" type="submit" name="action" value="signup">Sign Up</button>
            </form>
        {% elif 'remove_participation' in buttons %}
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-outline-info" type="submit" name="action" value="remove_participation">Un-Sign
                    Up
                </button>
            </form>
        {% endif %}
        {% if 'update_trip_report' in buttons %}
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-outline-info" type="submit" name="action" value="update_trip_report">
                    Update Ride Report
                </button>
            </form>
        {% endif %}
    </div>
{% endblock content %}