{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if object %}
                    <legend class="border-bottom mb-4">Update Ride</legend>
                {% else %}
                    <legend class="border-bottom mb-4">Schedule New Ride</legend>
                {% endif %}
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info" type="submit" name="action"
                    value="{{ object|yesno:'update, schedule' }}">{{ object|yesno:'Update, Schedule' }}
            </button>
            <button class="btn btn-outline-info" type="submit" name="action"
                    value="{{ object|yesno:'update, schedule' }}_and_email">{{ object|yesno:'Update, Schedule' }} and
                email
            </button>
            {% if object %}
                <a class="btn btn-outline-info" href="{% url 'ride-detail' object.id  %}">Cancel</a>
            {% else %}
                <a class="btn btn-outline-info" href="{% url 'home' %}">Cancel</a>
            {% endif %}
        </form>
    </div>
{% endblock content %}