{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">

                <div><h3>Route: {{ ride.route.route_name }} </h3></div>
                <div><strong>Distance:</strong>  {{ ride.route.distance }} miles</div>
                <div class="text-muted"><strong>Ride Date:</strong> {{ ride.ride_date|date:"F d, Y" }}</div>
                <div class="text-muted"><strong>Start Time:</strong> {{ ride.start_time }}</div>

                <div class="text-muted"><strong>Distance:</strong> {{ ride.route.distance }} miles</div>
                <div class="text-muted">
                    <strong>Leader:</strong> <a href="{% url 'user-rides' ride.leader.username %}"> {{ ride.leader.username }}</a>
                </div>

                <div>
                    <strong>Leader Name:</strong> {{ ride.leader.first_name }} {{ ride.leader.last_name }}
                </div>
                <div>
                    <strong>Leader email:</strong> {{ ride.leader.email }}
                </div>
                <div>
                    <strong>Route Details:</strong> {{ ride.route.description|safe }}
                </div>
                <div>
                    <strong>Route Starting Location:</strong> {{ ride.route.start_location|safe }}
                </div>
                 <div class="mr-2"><strong>Ride Details:</strong> {{ ride.additional_details|safe }}</div>

            </div>
        </div>
    </article>
    <div>
        {% if buttons  == 'update_delete' %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'ride-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ride-delete' object.id %}">Delete</a>
        {% elif buttons == 'signup' %}
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-outline-info" type="submit" name="action" value="signup">Signup</button>
            </form>
        {% elif buttons == 'remove_participation' %}
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-outline-info" type="submit" name="action" value="remove_participation">Un-Signup</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}